@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat:wght@500&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
    
    
}
#hero-msg h1{
    text-align: center;
    color:#D8D5DB;
    font-family: "caveat" ;
    font-size: 3em;
}
#hero-msg h4 {
    text-align: center;
    color:#D8D5DB;

}
nav a{
    text-align: center;
    text-decoration: none;
    color: #0F110C;
    padding: 35px;
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.button-box{
    text-align: center;
}

#background{
    height: 725px;
    background-color:#396E94 ;
}
body{
    background-color: #438989;
    margin: 0;
    padding: 0;
}
header{
    background-color: #BCE784;
}
nav a:hover{
    background-color: #9E90A2;
}
.book, .join{
    background-color: #0F110C;
    text-decoration: none;
    color:#D8D5DB ;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.home-title{
    color: #D8D5DB;
    font-family: "caveat",sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.book:hover, .join:hover{
    background-color: #9E90A2;
    color:#0F110C ;
}

.msg {
    background-color:#396E94 ;
    /* line-height: 1.5em; */
    padding: 35px;
    }
h2{
    margin: 0;
}
.msg h2{
    color:#0F110C;
    font-family: "caveat";
    font-size: 2.25em;
 
}
.msg p{
    color:#0F110C; 
    font-size: 1em;
    padding-bottom: 15px;
}
footer{
 background-color:#2f3822 ;
 color: rgb(255, 255, 255);
 padding: 25px 50px;

}
.icon{
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
      margin: 200px 0;
}
.card-img{
    border: 10px solid black;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}
#hero-img{
    width: 100%
}
footer a{
 text-decoration: none;
 color:rgb(255, 255, 255);   
}
 footer p a:hover {
    font-size: 1.2em;
    text-decoration: underline;
    color: white;
 }
      
 footer {
    background-color: steelblue;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img{
    padding-top: 15px;
}   